<div class="main-container">
  <div class="cards">
    <h2 *ngIf="department">{{ department.name }}</h2>

    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 90%">
          <mat-label>New Employee Name</mat-label>
          <input
            matInput
            [formControl]="employeeNameFC"
            type="text"
          />
          <mat-error *ngIf="employeeNameFC.hasError('duplicate')"
            >Duplicate Name</mat-error
          >
        </mat-form-field>

        <button
          style="float: right"
          mat-fab
          color="primary"
          (click)="addEmployee()"
          [disabled]="employeeNameFC.invalid"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

    <mat-card class="hours">
      <mat-card-content>
        <div>
          <table>
            <thead>
              <th>Name</th>
              <th *ngFor="let day of weekdays">{{ day | titlecase }}</th>
              <th>Total Hours</th>
              <th></th>
            </thead>

            <tbody>
              <tr *ngFor="let employee of employees; let i = index">
                <td>{{ employee.name }}</td>
                <td *ngFor="let day of weekdays">
                    <input
                      type="number"
                      [min]="0"
                      [max]="24"
                      [(ngModel)]="employee[day]"
                      />
                </td>
                <td class="total-cell">
                  {{ getTotalHours(employee) | number : "1.2-2" }}
                </td>
                <td>
                  <button mat-icon-button>
                    <mat-icon (click)="deleteEmployee(employee, i)"
                      >delete</mat-icon
                    >
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            mat-raised-button
            color="primary"
            class="submit"
            (click)="submit()"
          >
            Submit
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
